<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world from Thymeleaf!</title>
</head>
<body>
<h1>Hello world!</h1> Now from &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thymeleaf...<a href="https://newenergytrading.com" target="_blank" title="LOS GEHTS!"> NewEnergyTrading</a>
<p><b>teste </b>mich heute!</p>

<div style="width: 600px; float: left">
    <h1>Die Zukunft von Bitcoin</h1>
    Beim Bitcoin handelt es sich um Open-Source-Software, wodurch die Community ständig an neuen technologischen Weiterentwicklungen, Neuerungen und Features arbeitet. Zwei der derzeit interessantesten und vielversprechendsten Entwicklungen sind die sog. "Schnorr-Signaturen" und "MimbleWimble".
   <div>Another Div</div>  <span>Another Span</span> Hello world! Nach Span selbe Zeile!
    <h2>Sehr gut!</h2>
</div>
<div style="width:600px; background-color: red; float: right">
    <h1>Die Zukunft von Bitcoin</h1>
    Beim Bitcoin handelt es sich um Open-Source-Software, wodurch die Community ständig an neuen technologischen Weiterentwicklungen, Neuerungen und Features arbeitet. Zwei der derzeit interessantesten und vielversprechendsten Entwicklungen sind die sog. "Schnorr-Signaturen" und "MimbleWimble".
    <div>Another Div</div>  <span>Another Span</span> Hello world! Nach Span selbe Zeile!
    <h2>Sehr gut!</h2>
</div>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Max Mustermann</td>
        <td>mm@mm.de</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Max Mustermann</td>
        <td>mm@mm.de</td>
    </tr>
    </tbody>
</table>

</body>
</html>